.add-list {
  &__popup {
    height: calc(150px - 36px);
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
  }

  .list {
    margin-bottom: -5px;
  }
}