* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}

.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #dbdbdb;
  }
}